<div>
  <h1 class="mat-h1" class="titulo">Histórico de versões</h1>
</div>

<mat-accordion multi>

  <!--Inicio - Versão 2.0.0.0-->
  <!--<mat-expansion-panel class="example-headers-align" style="margin-bottom: 8px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="versao">Versão teste</h3><h6 class="data">01/02/2022</h6>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="margin-bottom: 8px;">

      <div class="conteudo">
        <div>
          <span class="tag" [ngClass]="getClassTag('M')">Melhoria no sistema</span>
        </div>
        <div class="descricao">Teste de descrição 1</div>
      </div>
      <div class="conteudo">
        <div>
          <span class="tag" [ngClass]="getClassTag('N')">Nova funcionalidade</span>
        </div>
        <div class="descricao">Teste de descrição 2</div>
      </div>
      <div class="conteudo">
        <div>
          <span class="tag" [ngClass]="getClassTag('C')">Correção de bug</span>
        </div>
        <div class="descricao">Teste de descrição 3</div>
      </div>

    </div>
  </mat-expansion-panel>-->
  <!--Fim - Versão 2.0.0.0-->

  <!--Inicio - Versão 1.0.0.0-->
  <mat-expansion-panel class="example-headers-align" style="margin-bottom: 8px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="versao">Versão 1.0.0.0</h3><h6 class="data">01/01/2022</h6>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="margin-bottom: 8px;">

      <div class="conteudo">
        <div>
          <span class="tag" [ngClass]="getClassTag('N')">Nova funcionalidade</span>
        </div>
        <div class="descricao">Criação do ambiente de desenvolvimento no Tecgraf</div>
      </div>
      <div class="conteudo">
        <div>
          <span class="tag" [ngClass]="getClassTag('N')">Nova funcionalidade</span>
        </div>
        <div class="descricao">Geração do deploy automático para o servidor kubernetes</div>
      </div>
      <div class="conteudo">
        <div>
          <span class="tag" [ngClass]="getClassTag('N')">Nova funcionalidade</span>
        </div>
        <div class="descricao">Mapenamento inicial dos banco de dados</div>
      </div>
      <div class="conteudo">
        <div>
          <span class="tag" [ngClass]="getClassTag('N')">Nova funcionalidade</span>
        </div>
        <div class="descricao">Desenvolvimento da tela Home e Login</div>
      </div>      
    </div>
        
  </mat-expansion-panel>
  <!--Fim - Versão 1.0.0.0-->

</mat-accordion>

