@import '@angular/material' as mat;
@import '~@angular/material/theming';
@import 'projeto-teste-colors.scss';

@include mat-core();

$projeto-teste-theme: mat-light-theme($projeto-teste-theme-primary, $projeto-teste-theme-accent);

$custom-typography: mat-typography-config(
    $font-family: 'Roboto, "Helvetica Neue", sans-serif'
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include angular-material-theme($projeto-teste-theme);
