@import 'color-variables';
@import 'mixins';

.main-container {
    flex: 1;
    justify-content: center;
}

.error-container {
  flex-direction: column;
  justify-content: center;
  padding: 0 calc(48px - 1em);
  flex: 1;

  @media (min-width: 376px) {
    flex: unset;
  }

  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .mat-icon {
      width: 57px;
      height: auto;
    }

    span {
      margin-left: 24px;
    }
  }

  h2 {
    margin: 0 0 8px 0;
  }

  p {
    margin-top: 0;
  }

  a {
    color: $font-accent;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 1em;
  }
}
