<div class="flex main-container">
  <div class="flex error-container">
    <div class="title-container">
      <mat-icon svgIcon="projeto-teste:error"></mat-icon>
      <span class="mat-body font-disabled">{{name}}</span>
    </div>
    <h2 class="mat-h2 font-medium-emphasis">{{description}}</h2>
    <p class="mat-body font-medium-emphasis">Aqui estão alguns links que podem ser úteis:</p>
    <a class="mat-body" (click)="back()">Voltar para a página anterior</a>
    <a class="mat-body" routerLink="/">Página inicial do Pront Aban</a>
  </div>
</div>
